@{
    ViewData["Title"] = "Home Page";
    var successMsg = TempData["SuccessMsg"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcomeeeeeeeeeeeeee</h1>
    @if (!string.IsNullOrEmpty(successMsg)) { 
        <p class="alert alert-success">@successMsg</p>
    }
    
</div>
